@model List<Post>

<div class="container-fluid posts-container">

    @foreach (var post in @Model)
    {
        string postId = "post" + post.Id;
        <div class="post full-width" id="@postId">
            @{await Html.RenderPartialAsync("~/Views/Post/Index.cshtml", @post);}
        </div>
    }

    <script src="~/js/post_adding.js"></script>
    <script src="~/js/likes.js"></script>
</div>