@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SocialNetwork</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a>@await Html.PartialAsync("_SelectLanguagePartial")</a>
                <a asp-controller="Account" asp-action="Login" class="navbar-brand">@Localizer["sign_in"]</a>
                <a asp-controller="Account" asp-action="Register" class="navbar-brand">@Localizer["sign_up"]</a>
   
            </div>
            <div class="navbar-collapse collapse">
            </div>
        </div>
    </nav>

    <div class="container body-content">
        <div class="main_content">
            @RenderBody()
        </div>
    </div>
</body>
</html>