@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SocialNetwork</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/login.css?Version=2" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <nav id="scanfcode" class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                    <a>@await Html.PartialAsync("_SelectLanguagePartial")</a>
                    <a asp-controller="Account" asp-action="Login" class="navbar-brand">@Localizer["sign_in"]</a>
                    <a asp-controller="Account" asp-action="Register" class="navbar-brand">@Localizer["sign_up"]</a>

            </div>
        </div>
    </nav>

    <div class="container body-content">
        <div class="main_content">
            @RenderBody()
        </div>
    </div>

</body>
</html>