
<section class="messages-page">
    <div class="container-fluid">
        <div class="dialogs-sec">
            <div class="row">
                <div class="col-lg-4 col-md-12 no-pdd">
                    <div class="dialogs-list">

                    </div>
                </div>
                <div class="col-lg-8 col-md-12 pd-right-none pd-left-none">
                    <div class="main-conversation-box"></div>
                </div>
            </div>
        </div>
    </div>
    @if (ViewBag.userWithId != null)
    {
        <script>
            $(document).ready(function(){
                var userWithId = "@ViewBag.userWithId";
                $('.user-dialog').each(function(indx, element){
                    if (element.getAttribute('userId') == userWithId)
                        $(element).addClass('selected');
                });
                $(".main-conversation-box").load("dialog/" + userWithId);
            });
        </script>
    }
</section> 