<section class="messages-page">
    <div class="container-fluid">
        <div class="dialogs-sec">
            <div class="row">
                <div class="col-lg-4 col-md-12 no-pdd">
                    <div class="dialogs-list">
                        @await Component.InvokeAsync("DialogsList")
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 pd-right-none pd-left-none">
                    <div class="main-conversation-box"></div>
                </div>
            </div>
        </div>
    </div>

    @if (ViewBag.userWithId != null)
    {
        <script>
            $(document).ready(function(){
                var userWithId = "@ViewBag.userWithId";
                $('.user-dialog').each(function(indx, element){
                    if (element.getAttribute('userId') == userWithId)
                        $(element).addClass('selected');
                });
                $(".main-conversation-box").load("dialog/" + userWithId);
            });
        </script>
    }

</section>

<script src="js/signalr/dist/browser/signalr.js"></script>

<script>
    let hubUrl = 'https://localhost:44368/chat';
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl(hubUrl)
        .configureLogging(signalR.LogLevel.Information)
        .build();
    hubConnection.on('Send', function (userFromId) {
        $(".main-conversation-box").load("dialog/" + userFromId, function () {
            $(".dialogs-list").load("dialogsList/", function () {
                $(".user-dialog:first").addClass('selected');
            })
        });
    });
    $(document).on('click', '#sendMessageButton', function () {
        var messageText = $('#messageText').val();
        var userToId = event.target.getAttribute('userToId')
        $('#messageText').val("");
        messageText = encodeURIComponent(messageText);
        if (messageText != "") {
            $(".main-conversation-box").load("sendMessage/" + userToId + "/" + messageText, function () {
                $(".dialogs-list").load("dialogsList/", function () {
                    $(".user-dialog:first").addClass('selected');
                })
            });
        }
        hubConnection.invoke('Send', "@ViewBag.loggedUserId", userToId);
    });

    hubConnection.start();
</script>

<script>
    $(document).on('click', ".user-dialog", function () {
        $('.user-dialog').removeClass('selected');
        $(this).addClass('selected');
        $(".main-conversation-box").load("dialog/" + event.target.getAttribute('userId'));
    });
</script>