@model List<Comment>
@inject IViewLocalizer Localizer

@if (!Model.Any())
{
    <p class="no-comments">@Localizer["first_comment"]</p>
}

@foreach (var comment in Model)
{
    <div class="post-comment">
        @{await Html.RenderPartialAsync("Index.cshtml", comment);}
    </div>
}